:root {
  --zamella-primary: #01a6fb;
  --zamella-primary--200: #0874ab;
  --zamella-secondary-200: #ff8732;
  --zamella-secondary-100: #fff2e933;
  --zamella-secondary-outline: #ff873233;
  --zamella-accent: #fdefb2;
  --zamella-black-200: #26292b;
  --zamella-black-100: #1e1e1e;
  --zamella-grey-200: #b6b3b3;
  --zamella-grey-100: #26292bbf;
  --zamella-grey-50: #f1f0f0;
  --zamella-grey-25: #b6b3b3;
  --zamella-grey-text: #26292b80;
  --zamella-white: #ffffff;
  --zamella-error-500: #bc0202;
  --zamella-error-100: #e30404;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

@font-face {
  font-family: "Proxima Nova";

  font-style: normal;

  font-weight: 400;

  font-display: swap;

  src: url("/assets/fonts/Proxima-Nova/ProximaNova-Regular.otf") format("otf");
}

@font-face {
  font-family: "Proxima Nova";

  font-style: normal;

  font-weight: 600;

  font-display: swap;

  src: url("/assets/fonts/Proxima Nova/ProximaNovaSemibold.otf") format("otf");
}

@font-face {
  font-family: "Proxima Nova";

  font-style: normal;

  font-weight: 700;

  font-display: swap;

  src: url("/assets/fonts/Proxima Nova/ProximaNovaBold.otf") format("otf");
}

@font-face {
  font-family: "Manrope";

  font-style: normal;

  font-weight: 400;

  font-display: swap;

  src: url("/assets/fonts/Manrope/static/Manrope-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Manrope";

  font-style: normal;

  font-weight: 700;

  font-display: swap;

  src: url("/assets/fonts/Manrope/static/Manrope-Bold.ttf") format("ttf");
}

.heading-1 {
  font-family: Proxima Nova, sans-serif;
  font-size: 1.375rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(30 30 30 / var(--tw-text-opacity, 1));
}

.heading-2 {
  font-family: Proxima Nova, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(30 30 30 / var(--tw-text-opacity, 1));
}

.subheading {
  font-family: Manrope, serif;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #26292BBF;
}

.body {
  font-family: Manrope, serif;
  font-size: 0.93;
  font-weight: 400;
  color: #26292BBF;
}

.body-sm {
  font-family: Manrope, serif;
  font-size: 0.6875rem;
  font-weight: 400;
  color: #26292BBF;
}

.zamella-btn--primary {
  display: flex;
  height: 4rem;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border-radius: 0.6257rem;
  --tw-bg-opacity: 1;
  background-color: rgb(1 166 251 / var(--tw-bg-opacity, 1));
  padding: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.zamella-btn--primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(8 116 171 / var(--tw-bg-opacity, 1));
}

@media (min-width: 480px) {
  .zamella-btn--primary {
    width: 33.333333%;
  }
}

.zamella-btn--primaryFull {
  display: flex;
  height: 4rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border-radius: 0.6257rem;
  --tw-bg-opacity: 1;
  background-color: rgb(1 166 251 / var(--tw-bg-opacity, 1));
  padding: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.zamella-btn--primaryFull:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(8 116 171 / var(--tw-bg-opacity, 1));
}

@media (min-width: 480px) {
  .zamella-btn--primaryFull {
    width: 100%;
  }
}

.onboarding-header {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  display: flex;
  height: 170px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url('/assets/images/transp-city.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-blend-mode: overlay;
}

@media (min-width: 480px) {
  .onboarding-header {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

.onboarding-header--heading {
  font-family: Proxima Nova, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.onboarding-container {
  min-height: 400px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 480px) {
  .onboarding-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.zamella-input--container {
  position: relative;
  margin-bottom: 1.25rem;
}

.zamella-input--icon {
  position: absolute;
  left: 1.25rem;
  right: 1.25rem;
  top: 1rem;
  bottom: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(182 179 179 / var(--tw-text-opacity, 1));
}

.zamella-input--iconRight {
  position: absolute;
  left: 15rem;
  right: 15rem;
  top: 1rem;
  bottom: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #26292BBF;
}

@media (min-width: 345px) {
  .zamella-input--iconRight {
    left: 16rem;
    right: 16rem;
  }
}

@media (min-width: 375px) {
  .zamella-input--iconRight {
    left: 18rem;
    right: 18rem;
  }
}

@media (min-width: 480px) {
  .zamella-input--iconRight {
    left: 22rem;
    right: 22rem;
  }
}

@media (min-width: 640px) {
  .zamella-input--iconRight {
    left: 14rem;
    right: 14rem;
  }
}

@media (min-width: 767px) {
  .zamella-input--iconRight {
    left: 16rem;
    right: 16rem;
  }
}

@media (min-width: 800px) {
  .zamella-input--iconRight {
    left: 18rem;
    right: 18rem;
  }
}

@media (min-width: 992px) {
  .zamella-input--iconRight {
    left: 18rem;
    right: 18rem;
  }
}

@media (min-width: 1024px) {
  .zamella-input--iconRight {
    left: 19rem;
    right: 19rem;
  }
}

@media (min-width: 1200px) {
  .zamella-input--iconRight {
    left: 17rem;
    right: 17rem;
  }
}

@media (min-width: 1280px) {
  .zamella-input--iconRight {
    left: 22rem;
    right: 22rem;
  }
}

.zamella-input {
  display: flex;
  height: 4rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 0.6257rem;
  --tw-bg-opacity: 1;
  background-color: rgb(241 240 240 / var(--tw-bg-opacity, 1));
  padding-inline-start: 4rem;
  padding-inline-end: 2.5rem;
  font-family: Proxima Nova, sans-serif;
  font-size: 1.0625rem;
  color: #26292BBF;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.zamella-input::-moz-placeholder {
  font-family: Proxima Nova, sans-serif;
  font-size: 0.8125rem;
  color: #26292BBF;
  opacity: 0.9;
}

.zamella-input::placeholder {
  font-family: Proxima Nova, sans-serif;
  font-size: 0.8125rem;
  color: #26292BBF;
  opacity: 0.9;
}

.zamella-input:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-color: #26292BBF;
}

@media (min-width: 375px) {
  .zamella-input::-moz-placeholder {
    font-size: 1.0625rem;
  }
  .zamella-input::placeholder {
    font-size: 1.0625rem;
  }
}

.link {
  font-family: Manrope, serif;
  font-size: 0.93;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(255 135 50 / var(--tw-text-opacity, 1));
}

.link.active {
  --tw-text-opacity: 1;
  color: rgb(1 166 251 / var(--tw-text-opacity, 1));
}

.success-modal--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.success-modal {
  background-image: linear-gradient(
    180deg,
    #01a8fb25 10%,
    var(--zamella-white) 40%
  );
  box-shadow: 0 0 8px 3px var(--zamella-grey-25);
}

.post-modal--header {
}

.post-modal--container {
}

.post-modal {
  background-image: linear-gradient(
    180deg,
    #01a8fb25 10%,
    var(--zamella-white) 20%
  );
}

/* DESKTOP DESIGN */

.onboarding-container--desktop {
  min-height: 400px;
  width: 50%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .onboarding-container--desktop {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (min-width: 992px) {
  .onboarding-container--desktop {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

@media (min-width: 1200px) {
  .onboarding-container--desktop {
    width: 41.666667%;
  }
}

.onboarding-image {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  height: 90vh;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5rem;
  background-image: url('/assets/images/transp-city.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 1rem;
}

@media (min-width: 640px) {
  .onboarding-image {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}

@media (min-width: 992px) {
  .onboarding-image {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.inset-x-0 {
  left: 0px;
  right: 0px;
}

.inset-x-10 {
  left: 2.5rem;
  right: 2.5rem;
}

.inset-x-16 {
  left: 4rem;
  right: 4rem;
}

.inset-x-\[15\.5px\] {
  left: 15.5px;
  right: 15.5px;
}

.inset-x-\[15rem\] {
  left: 15rem;
  right: 15rem;
}

.inset-y-14 {
  top: 3.5rem;
  bottom: 3.5rem;
}

.inset-y-16 {
  top: 4rem;
  bottom: 4rem;
}

.inset-y-32 {
  top: 8rem;
  bottom: 8rem;
}

.inset-y-36 {
  top: 9rem;
  bottom: 9rem;
}

.inset-y-40 {
  top: 10rem;
  bottom: 10rem;
}

.bottom-0 {
  bottom: 0px;
}

.right-0 {
  right: 0px;
}

.top-0 {
  top: 0px;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-50 {
  z-index: 50;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.-mt-20 {
  margin-top: -5rem;
}

.-mt-3 {
  margin-top: -0.75rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.me-1 {
  margin-inline-end: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-16 {
  height: 4rem;
}

.h-20 {
  height: 5rem;
}

.h-32 {
  height: 8rem;
}

.h-36 {
  height: 9rem;
}

.h-40 {
  height: 10rem;
}

.h-44 {
  height: 11rem;
}

.h-52 {
  height: 13rem;
}

.h-56 {
  height: 14rem;
}

.h-7 {
  height: 1.75rem;
}

.h-80 {
  height: 20rem;
}

.h-96 {
  height: 24rem;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[3\.5rem\] {
  height: 3.5rem;
}

.h-\[500px\] {
  height: 500px;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-full {
  height: 100%;
}

.h-lvh {
  height: 100lvh;
}

.min-h-40 {
  min-height: 10rem;
}

.min-h-80 {
  min-height: 20rem;
}

.min-h-\[500px\] {
  min-height: 500px;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-10 {
  width: 2.5rem;
}

.w-10\/12 {
  width: 83.333333%;
}

.w-12 {
  width: 3rem;
}

.w-14 {
  width: 3.5rem;
}

.w-16 {
  width: 4rem;
}

.w-20 {
  width: 5rem;
}

.w-32 {
  width: 8rem;
}

.w-4\/12 {
  width: 33.333333%;
}

.w-5 {
  width: 1.25rem;
}

.w-52 {
  width: 13rem;
}

.w-7 {
  width: 1.75rem;
}

.w-8 {
  width: 2rem;
}

.w-80 {
  width: 20rem;
}

.w-9 {
  width: 2.25rem;
}

.w-9\/12 {
  width: 75%;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[90\%\] {
  width: 90%;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[0\.5px\] {
  gap: 0.5px;
}

.gap-y-2 {
  row-gap: 0.5rem;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 1.5rem;
}

.rounded-none {
  border-radius: 0px;
}

.rounded-sm {
  border-radius: 0.6257rem;
}

.rounded-b-sm {
  border-bottom-right-radius: 0.6257rem;
  border-bottom-left-radius: 0.6257rem;
}

.rounded-r-sm {
  border-top-right-radius: 0.6257rem;
  border-bottom-right-radius: 0.6257rem;
}

.rounded-t-sm {
  border-top-left-radius: 0.6257rem;
  border-top-right-radius: 0.6257rem;
}

.rounded-bl-sm {
  border-bottom-left-radius: 0.6257rem;
}

.rounded-tr-sm {
  border-top-right-radius: 0.6257rem;
}

.border-2 {
  border-width: 2px;
}

.border-4 {
  border-width: 4px;
}

.border-y-\[1\.5px\] {
  border-top-width: 1.5px;
  border-bottom-width: 1.5px;
}

.border-b-\[1\.5px\] {
  border-bottom-width: 1.5px;
}

.border-zamella-grey-200 {
  --tw-border-opacity: 1;
  border-color: rgb(182 179 179 / var(--tw-border-opacity, 1));
}

.border-zamella-primary {
  --tw-border-opacity: 1;
  border-color: rgb(1 166 251 / var(--tw-border-opacity, 1));
}

.border-zamella-secondary-outline {
  border-color: #FF873233;
}

.bg-\[\#01A6FB1A\] {
  background-color: #01A6FB1A;
}

.bg-\[\#01A6FB26\] {
  background-color: #01A6FB26;
}

.bg-\[\#01A6FB33\] {
  background-color: #01A6FB33;
}

.bg-\[\#01A6FB66\] {
  background-color: #01A6FB66;
}

.bg-\[\#D9D9D9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(217 217 217 / var(--tw-bg-opacity, 1));
}

.bg-\[\#E6F6FF80\] {
  background-color: #E6F6FF80;
}

.bg-\[\#FF873233\] {
  background-color: #FF873233;
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-zamella-grey-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 240 240 / var(--tw-bg-opacity, 1));
}

.bg-zamella-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(1 166 251 / var(--tw-bg-opacity, 1));
}

.bg-zamella-secondary-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 135 50 / var(--tw-bg-opacity, 1));
}

.bg-zamella-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-opacity-80 {
  --tw-bg-opacity: 0.8;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center {
  -o-object-position: center;
     object-position: center;
}

.object-top {
  -o-object-position: top;
     object-position: top;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pb-28 {
  padding-bottom: 7rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.ps-12 {
  padding-inline-start: 3rem;
}

.ps-3 {
  padding-inline-start: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-40 {
  padding-top: 10rem;
}

.pt-44 {
  padding-top: 11rem;
}

.pt-56 {
  padding-top: 14rem;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.font-manrope {
  font-family: Manrope, serif;
}

.font-proxima {
  font-family: Proxima Nova, sans-serif;
}

.text-2xl {
  font-size: 1.25rem;
}

.text-3xl {
  font-size: 1.375rem;
}

.text-\[0\.4rem\] {
  font-size: 0.4rem;
}

.text-\[1\.1rem\] {
  font-size: 1.1rem;
}

.text-\[1\.4rem\] {
  font-size: 1.4rem;
}

.text-\[2rem\] {
  font-size: 2rem;
}

.text-\[7rem\] {
  font-size: 7rem;
}

.text-sm {
  font-size: 0.8125rem;
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.text-\[\#01A6FB80\] {
  color: #01A6FB80;
}

.text-zamella-black-100 {
  --tw-text-opacity: 1;
  color: rgb(30 30 30 / var(--tw-text-opacity, 1));
}

.text-zamella-black-200 {
  --tw-text-opacity: 1;
  color: rgb(38 41 43 / var(--tw-text-opacity, 1));
}

.text-zamella-grey-100 {
  color: #26292BBF;
}

.text-zamella-grey-200 {
  --tw-text-opacity: 1;
  color: rgb(182 179 179 / var(--tw-text-opacity, 1));
}

.text-zamella-grey-300 {
  color: #26292B99;
}

.text-zamella-grey-text {
  color: #26292B80;
}

.text-zamella-primary {
  --tw-text-opacity: 1;
  color: rgb(1 166 251 / var(--tw-text-opacity, 1));
}

.text-zamella-secondary-200 {
  --tw-text-opacity: 1;
  color: rgb(255 135 50 / var(--tw-text-opacity, 1));
}

.text-zamella-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-0 {
  opacity: 0;
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-black {
  --tw-shadow-color: #000;
  --tw-shadow: var(--tw-shadow-colored);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-\[\#01A6FB40\] {
  --tw-ring-color: #01A6FB40;
}

.ring-zamella-black-100 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(30 30 30 / var(--tw-ring-opacity, 1));
}

.ring-zamella-grey-100 {
  --tw-ring-color: #26292BBF;
}

.ring-zamella-grey-200 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(182 179 179 / var(--tw-ring-opacity, 1));
}

.ring-zamella-primary {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(1 166 251 / var(--tw-ring-opacity, 1));
}

.zamella-input::-webkit-meter-even-less-good-value {
  caret: none;
}

.placeholder\:font-manrope::-moz-placeholder {
  font-family: Manrope, serif;
}

.placeholder\:font-manrope::placeholder {
  font-family: Manrope, serif;
}

.placeholder\:text-3xl::-moz-placeholder {
  font-size: 1.375rem;
}

.placeholder\:text-3xl::placeholder {
  font-size: 1.375rem;
}

.placeholder\:font-bold::-moz-placeholder {
  font-weight: 700;
}

.placeholder\:font-bold::placeholder {
  font-weight: 700;
}

.hover\:bg-transparent:hover {
  background-color: transparent;
}

.hover\:bg-zamella-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(1 166 251 / var(--tw-bg-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:text-zamella-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:ring-0:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-1:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-zamella-grey-100:focus {
  --tw-ring-color: #26292BBF;
}

.focus\:ring-zamella-primary:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(1 166 251 / var(--tw-ring-opacity, 1));
}

.active\:outline-none:active {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 345px) {
  .mobilexxs\:inset-x-3 {
    left: 0.75rem;
    right: 0.75rem;
  }

  .mobilexxs\:inset-x-\[17rem\] {
    left: 17rem;
    right: 17rem;
  }

  .mobilexxs\:w-80 {
    width: 20rem;
  }

  .mobilexxs\:flex-row {
    flex-direction: row;
  }
}

@media (min-width: 375px) {
  .mobilexs\:inset-x-7 {
    left: 1.75rem;
    right: 1.75rem;
  }

  .mobilexs\:inset-x-8 {
    left: 2rem;
    right: 2rem;
  }

  .mobilexs\:w-10\/12 {
    width: 83.333333%;
  }

  .mobilexs\:w-80 {
    width: 20rem;
  }
}

@media (min-width: 480px) {
  .mobilesm\:inset-x-10 {
    left: 2.5rem;
    right: 2.5rem;
  }

  .mobilesm\:inset-x-\[25rem\] {
    left: 25rem;
    right: 25rem;
  }

  .mobilesm\:w-10\/12 {
    width: 83.333333%;
  }

  .mobilesm\:w-20 {
    width: 5rem;
  }

  .mobilesm\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .mobilesm\:p-10 {
    padding: 2.5rem;
  }

  .mobilesm\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .mobilesm\:px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

@media (min-width: 567px) {
  .mobilemd\:inset-x-24 {
    left: 6rem;
    right: 6rem;
  }

  .mobilemd\:w-8\/12 {
    width: 66.666667%;
  }
}

@media (min-width: 640px) {
  .sm\:inset-x-28 {
    left: 7rem;
    right: 7rem;
  }
}

@media (min-width: 767px) {
  .mobilelg\:inset-x-48 {
    left: 12rem;
    right: 12rem;
  }

  .mobilelg\:flex-row {
    flex-direction: row;
  }

  .mobilelg\:items-center {
    align-items: center;
  }
}

@media (min-width: 800px) {
  .tabletmd\:inset-x-52 {
    left: 13rem;
    right: 13rem;
  }

  .tabletmd\:mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .tabletmd\:w-6\/12 {
    width: 50%;
  }

  .tabletmd\:ring-1 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  }
}

@media (min-width: 992px) {
  .tabletlg\:inset-x-\[19rem\] {
    left: 19rem;
    right: 19rem;
  }

  .tabletlg\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .tabletlg\:w-11\/12 {
    width: 91.666667%;
  }

  .tabletlg\:w-5\/12 {
    width: 41.666667%;
  }
}

@media (min-width: 1024px) {
  .lg\:inset-x-\[19rem\] {
    left: 19rem;
    right: 19rem;
  }

  .lg\:w-11\/12 {
    width: 91.666667%;
  }
}

@media (min-width: 1200px) {
  .laptopmd\:inset-x-\[22rem\] {
    left: 22rem;
    right: 22rem;
  }

  .laptopmd\:w-10\/12 {
    width: 83.333333%;
  }

  .laptopmd\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (min-width: 1280px) {
  .xl\:inset-x-\[26rem\] {
    left: 26rem;
    right: 26rem;
  }
}
